<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
   <title>Entrega 2</title>
</head>

<body>
   <div class="topnav">
      <a class="active" href="/">Inicio</a>
      <a href="/coordinator">Coordinador</a>
      <a href="/interested">Interesado</a>
      <a href="/candidate">Aspirante</a>
   </div>