{{>header}}

<div class="d-flex justify-content-center">
   <h1>Acciones del aspirante</h1>
</div>

<div class="container">
   <h2>Lista de cursos disponibles</h2>

   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th>Nombre del curso</th>
            <th>Descripción del curso</th>
            <th>Precio del curso</th>
            <th>Detalle</th>
         </tr>
      </thead>
      <tbody>
         {{#each courses}}
         <tr>
            <td>{{this.courseName}}</td>
            <td>{{this.courseDescription}}</td>
            <td>{{this.coursePrice}}</td>
            <td> <a href="/subscribe/{{this.courseID}}">Inscripción</a></td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</div>

{{>footer}}