{{>header}}
<h1>Acciones del aspirante</h1>

<h2>Lista de cursos disponibles</h2>

<table>
   <thead>
      <tr>
         <th>Nombre del curso</th>
         <th>Descripción del curso</th>
         <th>Precio del curso</th>
         <th>Detalle</th>
      </tr>
   </thead>
   <tbody>
      {{#each courses}}
        <tr>
           <td>{{this.courseName}}</td>
           <td>{{this.courseDescription}}</td>
           <td>{{this.coursePrice}}</td>
           <td> <a href="/subscribe/{{this.courseID}}">Inscripción</a></td>
        </tr>
      {{/each}}
   </tbody>
</table>

{{>footer}}