{{>header}}
<div class="d-flex justify-content-center">
   <h1>Acciones del Coordinador</h1>
</div>

<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-link"><a href="/courseList">Ver listado de cursos</a></button>
</div>


<div class="container">
   <h2>Ingresar un nuevo curso: </h2>
   <form action="/course" method="POST">
      <div class="form-group">
         <label for="courseID">Identificador del curso</label>
         <input class="form-control" type="text" id="courseID" name="courseID" required>
      </div>

      <div class="form-group">
         <label for="courseName">Nombre del curso</label>
         <input class="form-control" type="text" id="courseName" name="courseName" required>
      </div>

      <div class="form-group">
         <label for="courseDescription">Descripción del curso</label>
         <input class="form-control" type="text" id="courseDescription" name="courseDescription" required>
      </div>

      <div class="form-group">
         <label for="coursePrice">Precio del curso</label>
         <input class="form-control" type="number" id="coursePrice" name="coursePrice" required>
      </div>

      <div class="form-group">
         <input class="form-check-label" type="radio" id="modaliity" name="modality" value="Virtual"> Virtual<br>
         <input class="form-check-label" type="radio" id="modaliity" name="modality" value="Presencial"> Presencial<br>
      </div>
      
      <div class="form-group">
         <label for="coursePrice">Intensidad horaria</label>
         <input class="form-control" type="number" id="intensity" name="intensity">
      </div>

      <input type="submit" value="Enviar" class="btn btn-primary">
   </form>
</div>
{{>footer}}