{{>header}}

<div class="d-flex justify-content-center">
   <h1>Suscribirse a un curso</h1>
</div>

<div class="container">
   <h2>Ingresar datos de aspirante: </h2>
   <form action="/student" method="POST">
      <div class="form-group">
         <label for="studentID">Identificador del estudiante</label>
         <input class="form-control" type="text" id="studentID" name="studentID" required>
      </div>

      <div class="form-group">
         <label for="studentName">Nombre del estudiante</label>
         <input class="form-control" type="text" id="studentName" name="studentName" required>
      </div>

      <div class="form-group">
         <label for="studentEmail">Correo del estudiante</label>
         <input class="form-control" type="email" id="studentEmail" name="studentEmail" required>
      </div>

      <div class="form-group">
         <label for="studentPhone">Teléfono del estudiante</label>
         <input class="form-control" type="number" id="studentPhone" name="studentPhone" required>
      </div>
      <input type="number" id="courseID" name="courseID" value="{{course.courseID}}" hidden>
      <input type="submit" value="Enviar" class="btn btn-primary">

   </form>
</div>
{{>footer}}